.fundo_contato {
  background-color: #ffffff;
  margin-right: 20px;
  align-items: center;
  display: flex;
  gap: 20px;
  height: 500px;
  justify-content: space-between;
  padding: 30px 60px 30px 50px;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;

  & label {
    font-weight: 550;
    font-size: 16px;
  }

  & input {
    margin-bottom: 20px;
    padding: 15px;
  }
  & textarea {
    max-width: 60%;
    min-height: 150px;
    padding: 10px;
    margin-bottom: 20px;
  }

  & button {
    border: 1px solid;
    padding: 15px;
    border-radius: 6px;
  }

  & input,
  textarea {
    border: 1px solid;
    border-radius: 6px;
  }
}

.container_redes_socias {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  & h2 {
    color: #0221af;
    font-weight: 800;
  }
}
.redes_sociais_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  & img {
    width: 128px;
    height: 128px;
  }
}
@media screen and (max-width: 1023px) {
  .redes_sociais_icons {
    & img {
      width: 40px;
      height: 40px;
    }
  }
  .container_redes_socias {
    text-align: center;
    width: 45%;

    & h2 {
      font-size: 18px;
    }
  }
  .fundo_contato {
    flex-direction: column;
    height: auto;
  }
  form {
    width: 90%;

    & textarea {
      max-width: none;
      width: 100%;
    }
  }
}
