html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  font-family: sans-serif;
}

.principal {
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 95%;
  background-color: rgba(92, 2, 2, 0.616);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
