.fundo_conteiner {
  background-color: rgba(182, 182, 182, 0.7);
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 300px;
  width: 45%;

  & h1,
  p {
    color: #fff;
  }
  & h1 {
    font-size: 28px;
  }
  & p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1023px) {
  .fundo_conteiner {
    height: auto;

    gap: 10px;

    & h1 {
      font-size: 18px;
    }
    & p {
      font-size: 10px;
    }
  }
}
